@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-shadow {
  box-shadow: -10px 10px 6px rgba(219, 211, 211, 0.2);
}

.containerr {
  box-shadow: 10px 10px 5px rgba(250, 249, 249, 0.2);
}

/* styles.css */
@keyframes moveRight {
  0% {
    transform: translateX(-100%); /* Start from the right side */
  }
  100% {
    transform: translateX(500%); /* Move to the left side */
  }
}

.animate-moveRight {
  animation: moveRight 9s linear infinite; /* Adjust the duration and other parameters as needed */
}
.flexing {
  @apply flex justify-center;
}

/* @keyframes wavy {
  0%, 100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.8);
  }
}

.border-wavy {
  animation: wavy 2s infinite;
  border-image-source: url('./path/to/your/wavy-pattern.png');
  border-image-slice: 10;
  border-image-repeat: round;
} */

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.animate-spin {
  animation: spin 10s linear infinite;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 120px;
  transform: rotateY(180deg);
}

.wave .shape-fill {
  fill: #092327;
}

