@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-shadow {
  box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.2);
}

.container {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

/* styles.css */
@keyframes moveRight {
  0% {
    transform: translateX(-100%); /* Start from the right side */
  }
  100% {
    transform: translateX(500%); /* Move to the left side */
  }
}

.animate-moveRight {
  animation: moveRight 9s linear infinite; /* Adjust the duration and other parameters as needed */
}

/* @keyframes wavy {
  0%, 100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.8);
  }
}

.border-wavy {
  animation: wavy 2s infinite;
  border-image-source: url('./path/to/your/wavy-pattern.png');
  border-image-slice: 10;
  border-image-repeat: round;
} */

